<div class="row">
    <div class="col-12 mt-2 mb-2 text-center midi-l-grey">
        <h5 class="d-inline">Admin Username:</h5>
        <p class="m-0 ps-2 d-inline midi-teal fs-5 logo-font">{{ user.username }}</p>
    </div>
</div>

<!-- filter dropdowns - adapted from the ones in song.html which have CI CREDIT -->
<div class="row mt-2 mb-4">
    <div class="col-12 text-center mb-4">
        <div id="all-songs-filter-reset" role="button" class="btn btn-teal p-1">Reset Filters</div>
    </div>
    <!-- custom or pre-made filter -->
    <div class="col-12 col-lg-3 text-center my-1">
        <select id="admin-song-type-select" class="fs-6 midi-d-grey-bg midi-l-grey midi-border-{% if selected_song_type != None %}teal{% else %}l-grey{% endif %}">
            <option value="reset" {% if selected_song_type == None %}selected{% endif %}>Song Type: </option>
            <option value="pre-made" {% if selected_song_type == 'pre-made' %}selected{% endif %}>Pre-made</option>
            <option value="custom" {% if selected_song_type == 'custom' %}selected{% endif %}>Custom</option>
        </select>
    </div>

    <!-- filtering by user -->
    {% if all_users %}
    <div class="col-12 col-lg-2 text-center my-1">
        <select id="admin-all-users-select" class="fs-6 midi-d-grey-bg midi-l-grey midi-border-{% if selected_user != None %}teal{% else %}l-grey{% endif %}">
            <option value="reset" {% if selected_user == None %}selected{% endif %}>Users: </option>
            {% for user in all_users %}
            <option value="{{ user.username }}" {% if selected_user == user.username %}selected{% endif %}>{{ user.username }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}

    <!-- completed or not filter -->
    <div class="col-12 col-lg-2 text-center my-1">
        <select id="admin-done-status-select" class="fs-6 midi-d-grey-bg midi-l-grey midi-border-{% if selected_done_status != None %}teal{% else %}l-grey{% endif %}">
            <option value="reset" {% if selected_done_status == None %}selected{% endif %}>Done Status: </option>
            <option value="done" {% if selected_done_status == 'done' %}selected{% endif %}>Done</option>
            <option value="not-done" {% if selected_done_status == 'not-done' %}selected{% endif %}>Not Done</option>
        </select>
    </div>

    <!-- public or not filter -->
    <div class="col-12 col-lg-2 text-center my-1">
        <select id="admin-public-status-select" class="fs-6 midi-d-grey-bg midi-l-grey midi-border-{% if selected_public_status != None %}teal{% else %}l-grey{% endif %}">
            <option value="reset" {% if selected_public_status == None %}selected{% endif %}>Public Status: </option>
            <option value="public" {% if selected_public_status == 'public' %}selected{% endif %}>Public</option>
            <option value="private" {% if selected_public_status == 'private' %}selected{% endif %}>Private</option>
        </select>
    </div>

    <!-- testimonial or not filter NOT visible on mobile screens -->
    <div class="col-12 col-lg-3 d-none d-md-block text-center my-1">
        <select id="admin-testimonial-status-select" class="fs-6 midi-d-grey-bg midi-l-grey midi-border-{% if selected_testimonial_status != None %}teal{% else %}l-grey{% endif %}">
            <option value="reset" {% if selected_testimonial_status == None %}selected{% endif %}>Testimonial Status: </option>
            <option value="testimonial" {% if selected_testimonial_status == 'testimonial' %}selected{% endif %}>Use As</option>
            <option value="not-testimonial" {% if selected_testimonial_status == 'not-testimonial' %}selected{% endif %}>Don't Use As</option>
        </select>
    </div>

</div>
<!-- --------------------------------- END OF FILTERS SECTION -->
{% if all_songs %}

<!-- headings row -->
<div class="row basic-font text-center">
    <div class="col-3 col-md-3">
        <h4 class="mb-0 fw-bolder midi-teal">SONG</h4>
    </div>
    <div class="col-3 col-md-2">
        <h4 class="mb-0 fw-bolder midi-teal">USER</h4>
    </div>
    <div class="col-3 col-md-2">
        <h4 class="mb-0 fw-bolder midi-teal">DONE</h4>
    </div>
    <div class="col-3 col-md-2">
        <h4 class="mb-0 fw-bolder midi-teal">PUBLIC</h4>
    </div>
    <div class="d-none d-md-block col-3">
        <h4 class="mb-0 fs-5 fw-bolder midi-teal">TESTIMONIAL</h4>
    </div>
</div>
<div class="row">
    <div class="col-12 p-0">
        <hr class="hr-90-teal">
    </div>
</div>
<!-- each row is the details for a song -->
{% for song in all_songs %}
    <div class="row d-flex text-center my-4 my-md-2 midi-l-grey hover-highlight-row">
        <div class="col-3 col-md-3">
            <a href="{{ song.get_absolute_url }}" class="midi-l-grey" title="Go to song details">
                <h5 class="d-none d-md-block my-1">{{ song.name }}</h5>
                <h5 class="d-block d-md-none my-1" title="View {{ song.name }} details">{{ song.name|truncatechars:8 }}</h5>
            </a>
        </div>
        <div class="col-3 col-md-2">
            <h5 class="d-none d-md-block my-1 midi-{% if song.user.is_superuser %}teal{% else %}l-grey{% endif %}">{{ song.user }}</h5>
            <h5 class="d-block d-md-none my-1 midi-{% if song.user.is_superuser %}teal{% else %}l-grey{% endif %}" title="View {{ song.name }} details">{{ song.user|truncatechars:8 }}</h5>
        </div>
        <div class="col-3 col-md-2">
            <h5 class="my-1">
                {% if song.completed %}
                    <i class="fa-solid fa-circle-check midi-teal"></i>
                {% else %}
                    <i class="fa-solid fa-circle-xmark midi-warning"></i>
                {% endif %}
            </h5>
        </div>
        <div class="col-3 col-md-2">
            <h5 class="my-1">
                {% if song.public %}
                    <i class="fa-solid fa-circle-check midi-teal"></i>
                {% else %}
                    <i class="fa-solid fa-circle-xmark midi-warning"></i>
                {% endif %}
            </h5>
        </div>
        <div class="d-none d-md-block col-3">
            <h5 class="my-1">
                {% if song.use_as_testimonial %}
                    <i class="fa-solid fa-circle-check midi-teal"></i>
                {% else %}
                    <i class="fa-solid fa-circle-xmark midi-warning"></i>
                {% endif %}
            </h5>
        </div>
    </div>
{% endfor %}
{% else %}
<hr class="hr-90-teal d-block d-md-none">
<div class="row d-flex">
    <div class="col-12 midi-l-grey text-center align-items-center mt-4 midi-warning">
        <h2 class="my-4">No songs were found in the database.</h2>
    </div>
</div>
{% endif %}