{% if users_complete_purchased_custom_songs %}
<!-- headings row -->
<div class="row basic-font text-center">
    <div class="col-4">
        <h4 class="mb-0 fw-bolder midi-teal">SONG</h4>
    </div>
    <div class="col-2">
        <h4 class="mb-0 fw-bolder midi-teal">ORDER DATE</h4>
    </div>
    <div class="col-4">
        <h4 class="mb-0 fw-bolder midi-teal">ORDER NUMBER</h4>
    </div>
    <div class="col-2">
        <h4 class="mb-0 fw-bolder midi-teal d-none d-md-block">DOWNLOAD</h4>
        <h4 class="mb-0 fw-bolder midi-teal d-block d-md-none"><i class="fa-solid fa-download"></i></h4>
    </div>
</div>
<div class="row">
    <div class="col-12 p-0">
        <hr class="hr-90-teal">
    </div>
</div>
<!-- each row is the details for a song -->
{% for song, order in users_complete_purchased_custom_songs.items %}
    <div class="row d-flex text-center my-4 my-md-2 midi-l-grey hover-highlight-row">
        <div class="col-4">
            <a href="{{ song.get_absolute_url }}" class="midi-l-grey" title="Go to song details">
                <h5 class="my-1">{{ song.name }}</h5>
            </a>
        </div>
        <div class="col-2">
            <h5 class="my-1">{{ order.date|date:"d-m-Y" }}</h5>
        </div>
        <div class="col-4">
            <h5 class="my-1 d-none d-md-block">{{ order.order_number }}</h5>
            <h5 title="{{ order.order_number }}" class="my-1 d-block d-md-none">{{ order.order_number|truncatechars:10 }}</h5>
        </div>
        <div class="col-2">
            <audio controls class="download-button m-0">
                <source src="{{ song.audio_file.url }}" type="audio/mpeg" alt="{{ song.name }} audio">
                Your browser does not support the audio element.
            </audio>
        </div>
    </div>
{% endfor %}
{% else %}
<hr class="hr-90-teal d-block d-md-none">
<div class="row d-flex">
    <div class="col-12 midi-l-grey text-center align-items-center mt-4">
        <h2 class="my-4">You don't currently have any completed projects.</h2>
        <h6 class="my-4">(purchased custom songs which midiDRAGON has notified you are complete and downloadable)</h6>
        <h4 class="my-4">Why not checkout midiDRAGON's <a title="Go to all pre-made songs list" href="{% url 'songs' %}" class="midi-teal">Pre-made Songs</a>?</h4>
    </div>
</div>
{% endif %}