{% if users_incomplete_purchased_custom_songs %}
<!-- headings row -->
<div class="row basic-font text-center">
    <div class="col-5">
        <h4 class="mb-0 fw-bolder midi-teal">SONG</h4>
    </div>
    <div class="col-2">
        <h4 class="mb-0 fw-bolder midi-teal">ORDER DATE</h4>
    </div>
    <div class="col-5">
        <h4 class="mb-0 fw-bolder midi-teal">ORDER NUMBER</h4>
    </div>
</div>
<div class="row">
    <div class="col-12 p-0">
        <hr class="hr-90-teal">
    </div>
</div>
<!-- each row is the details for a song -->
{% for song, order in users_incomplete_purchased_custom_songs.items %}
    <div class="row d-flex text-center my-4 my-md-2 midi-l-grey hover-highlight-row">
        <div class="col-5">
            <a href="{{ song.get_absolute_url }}" class="midi-l-grey" title="Go to song details">
                <h5 class="my-1">{{ song.name }}</h5>
            </a>
        </div>
        <div class="col-2">
            <h5 class="my-1">{{ order.date|date:"d-m-Y" }}</h5>
        </div>
        <div class="col-5">
            <h5 class="my-1 d-none d-xl-block">{{ order.order_number }}</h5>
            <h5 title="{{ order.order_number }}" class="my-1 d-none d-md-block d-xl-none">{{ order.order_number|truncatechars:20 }}</h5>
            <h5 title="{{ order.order_number }}" class="my-1 d-block d-md-none">{{ order.order_number|truncatechars:10 }}</h5>
        </div>
    </div>
{% endfor %}
{% else %}
<hr class="hr-90-teal d-block d-md-none">
<div class="row d-flex">
    <div class="col-12 midi-l-grey text-center align-items-center mt-4">
        <h2 class="my-4">You don't currently have any projects in progress.</h2>
        <h6 class="my-4">(purchased custom songs which are not yet complete)</h6>
        <h4 class="my-4">Are any of your <a title="Project Drafts screen" href="{% url 'project_drafts' %}" class="midi-teal">Project Drafts</a> ready to buy?</h4>
    </div>
</div>
{% endif %}