{% extends "base.html" %}
{% load static %}
 
{% block content %}
<!-- bootstrap container for all the content on this page -->
<div id="homepage-container" class="container py-4">
    <!-- page heading -->
    <div class="row">
        <!-- include a column next to this which has a screenshot of the browse page? -->
        <div class="col-6 d-none d-md-block"></div>
        <div class="col-12 col-md-6 text-center">
            <h2 class="page-heading">Pre-made songs</h2>
            <ul>
                <li>One time purchases - <strong>no subscriptions</strong></li>
                <li>Listen to clips before your buy</li>
                <li>Purchased songs sent to you immediately</li>
            </ul>
            <a href="{% url 'songs' %}" class="btn btn-d-grey large-btn" role="button">Browse Now</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="hr-90-dark my-4">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 text-center">
            <h2 class="page-heading">Custom Songs</h2>
            <ul>
                <li>Your perfect songs created <strong>exclusively for you</strong></li>
                <li>Edit your draft projects details anytime before you buy</li>
                <li>No musical or technical experience required</li>
            </ul>
            <a href="#" class="btn btn-d-grey large-btn" role="button">Design Your Own Song</a>
        </div>
        <!-- include a column next to this which has a screenshot of the form? -->
        <div class="col-6 d-none d-md-block"></div>
        
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="hr-90-dark my-4">
        </div>
    </div>
    <div class="row">
        <!-- include a column next to this which has a screenshot of the testimonial carousel? -->
        <div class="col-6 d-none d-md-block"></div>
        <div class="col-12 col-md-6 text-center">
            <h2 class="page-heading">What people say about us</h2>
            <ul>
                <li>Listen to previously made custom songs</li>
                <li>Read reviews about Midi Dragon's services</li>
                <li><strong>Promote your content</strong> through reviewing your own custom song purchases</li>
            </ul>
            <a href="#" class="btn btn-d-grey large-btn" role="button">View Testimonials</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr class="hr-90-dark my-4">
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <!-- keep this row centralised -->
            <h2 class="page-heading">Register an account for free</h2>
            <ul>
                <li>Access the <strong>Design a Custom Song</strong> feature</li>
                <li>View and edit your draft projects anytime</li>
                <li>Manage your purchased projects and Order History</li>
            </ul>
            <a href="#" class="btn btn-d-grey large-btn" role="button">Register Now</a>
        </div>
    </div>
   
</div>
 
{% endblock %}