{% extends "base.html" %}
{% load static %}
 
{% block extra_title %} - ToS{% endblock %}

{% block content %}
<!-- bootstrap container for all the content on this page -->
<div id="tos-container" class="container pt-2 pb-4 overlay text-center">
    <!-- page heading -->
    <div class="row py-4">
        <div class="col-12">
            <h1 class="page-heading midi-l-grey">TERMS OF SERVICE</h1>
            <hr class="hr-90-light">
        </div>
    </div>

    <div class="tos-row row mb-4">
        <div class="col-12 text-center midi-l-grey px-4">
            <h2 class="logo-font fw-bolder">- Refund Policy -</h2>
            <hr class="hr-50-teal mb-4">
            <ol>
                <li>
                    Refunds will be accepted in cases where a proven bug in the midiDRAGON site causes the user to be charged for a product which they didn't intend to purchase. ['proven bugs' require evidence to show that the a feature of midiDRAGON is faulty and hence resulted in action being made on your behalf without your confirmation]
                </li>
                <li>
                    Refunds will be accepted for custom projects only if you make express contact with midiDRAGON to give reason for the cancellation of your purchase <strong>before</strong> midiDRAGON sends you email confirmation that your custom song is in production. [Warning - multiple cancellations for custom song projects may result in you becoming banned from designing custom song projects]
                </li>
            </ol>
        </div>
    </div>

    <div class="tos-row row mb-4">
        <div class="col-12 text-center midi-l-grey px-4">
            <h2 class="logo-font fw-bolder">- Custom Songs -</h2>
            <hr class="hr-50-teal mb-4">
            <ol>
                <li>
                    If you do not specify clear notes on the feel, style, purpose or any other aspect of the custom song you are designing, then you give the creative choice to midiDRAGON to create a song they see to best fit the information you do provide.
                </li>
                <li>
                    Contacting midiDRAGON with additional details about how you want your custom song to sound or be structured will only be considered in cases where the adjustments do not require further costs and where midiDRAGON has not yet contacted you to confirm that they have started creating your project.
                </li>
                <li>
                    After purchase, your custom songs are exclusively available to yourself and the midiDRAGON admin. No other site user's have access to download your song and they can only listen to your song if it has been approved by you to be used as a Testimonial.
                </li>
                <li>
                    midiDRAGON has the right to use your song as part of their musical portfolio, but any of your personal details will be redacted.
                </li>
            </ol>
        </div>
    </div>

    <div class="tos-row row mb-4">
        <div class="col-12 text-center midi-l-grey px-4">
            <h2 class="logo-font fw-bolder">- Intellectual Property Rights -</h2>
            <hr class="hr-50-teal mb-4">
            <ol>
                <li>
                    All audio, sound recordings, music, pre-made songs and custom songs, on the midiDRAGON site belong to midiDRAGON.
                </li>
                <li>
                    Any songs, already existing on the midiDRAGON site or created by midiDRAGON may be used in your personal projects and projects created for your own clients, but <strong>must not</strong> be claimed as your own in any way.
                </li>
                <li>
                    You must not attempt to directly sell on any songs you purchase from midiDRAGON. You may, however, use the songs in projects which are monetised and/or any projects you make for a paying client. midiDRAGON doesn't take any responsibility for any issues with demonetisation or payment disputes with your clients that your projects may encounter.
                </li>
            </ol>
        </div>
    </div>

    <div class="tos-row row mb-4">
        <div class="col-12 text-center midi-l-grey px-4">
            <h2 class="logo-font fw-bolder">- Purchases Are Forever and For You Only -</h2>
            <hr class="hr-50-teal mb-4">
            <ol>
                <li>
                    Once you have purchased any song from midiDRAGON, you are free to download and use it as many times as you wish.
                </li>
                <li>
                    Only you may download and use these songs. You <strong>must not</strong> give any other person access to download and use the songs in their own projects.
                </li>
            </ol>
        </div>
    </div>

    <div class="tos-row row mb-4">
        <div class="col-12 text-center midi-l-grey px-4">
            <h2 class="logo-font fw-bolder">- Amendments -</h2>
            <hr class="hr-50-teal mb-4">
            <ol>
                <li>
                    Changes may be made to midiDRAGON's Terms of Service at any time. It is important for you to check back over these Terms of Service regularly.
                </li>
                <li>
                    Registered users of midiDRAGON will be notified by email when any amendments are made to the Terms of Service.
                </li>
            </ol>
        </div>
    </div>

</div>
{% endblock %}
