{% extends "base.html" %}
{% load static %}
 
{% block extra_title %} - My Dashboard{% endblock %}

{% block content %}
<!-- bootstrap container for all the content on this page -->
<div class="container pt-2 pb-4 overlay">
    <!-- page heading -->
    <div class="row py-4">
        <div class="col-12">
            <h1 class="page-heading midi-l-grey">
                {{ user.username }}'{% if user.username|slice:"::-1"|slice:":1" != 's' %}s
                {% endif %}
                Dashboard
            </h1>
            <hr class="hr-90-light">
        </div>
    </div>

    <!-- desktop view: row holding the dashboard content -->
    <div class="row d-none d-md-flex"> <!-- need FLEX?? -->
        <!-- menu -->
        <div id="dashboard-options" class="col-4">

            <div class="row my-4 midi-l-grey">
                <div class="col-12">
                    <h4 role="button" title="My Details screen" class="pink-hover d-inline dashboard-option-highlight">My Details</h4>
                </div>
            </div>
            <div class="row my-4 midi-l-grey">
                <div class="col-12">
                    <h4 role="button" title="Project Drafts screen" class="pink-hover d-inline">Project Drafts</h4>
                </div>
            </div>
            <div class="row my-4 midi-l-grey">
                <div class="col-12">
                    <h4 role="button" title="Projects In Progress screen" class="pink-hover d-inline">Projects In Progress</h4>
                </div>
            </div>
            <div class="row my-4 midi-l-grey">
                <div class="col-12">
                    <h4 role="button" title="Completed Projects screen" class="pink-hover d-inline">Completed Projects</h4>
                </div>
            </div>
            <div class="row my-4 midi-l-grey">
                <div class="col-12">
                    <h4 role="button" title="Order History screen" class="pink-hover d-inline">Order History</h4>
                </div>
            </div>

        </div>
        <!-- rendering html snippets -->
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <!-- snippet here -->
                    {% include 'includes/dashboard-my-details.html' %}
                </div>
            </div>
            <div class="row d-none">
                <div class="col-12">
                    <!-- snippet here -->
                </div>
            </div>
            <div class="row d-none">
                <div class="col-12">
                    <!-- snippet here -->
                </div>
            </div>
            <div class="row d-none">
                <div class="col-12">
                    <!-- snippet here -->
                </div>
            </div>
            <div class="row d-none">
                <div class="col-12">
                    <!-- snippet here -->
                </div>
            </div>
        </div>
    </div>


    <!-- mobile view: row holding the dashboard content -->

</div>
{% endblock %}

<!-- some JS for handling which option is selected, adding the highlight class to it and removing it from any other and rendering the correct html snippet in the other column -->
<!-- IF POSSIBLE MAKE THIS EXTERNAL JS WHICH IS USED FOR THE ADMIN MANAGEMENT TOO -->
