{% extends "base.html" %}
{% load static %}
 
{% block extra_title %} - All Songs{% endblock %}

{% block content %}
<!-- bootstrap container for all the content on this page -->
<div class="container pt-2 pb-4 overlay">
    <!-- page heading -->
    <div class="row py-4">
        <div class="col-12">
            <h1 class="page-heading midi-l-grey">
                Site Management
            </h1>
            <hr class="hr-90-light">
        </div>
    </div>

    <!-- mobile menu -->
    <div class="row d-flex d-md-none">
        <div class="col-1 d-inline mobiledropdowncontainer text-center fs-1 p-0">
            <!-- burger icon is the dropdown-toggle -->
            <!-- unordered list is in the dropdown-menu -->
            <div class="dropdown-toggle text-center midi-l-grey pink-hover" type="button" id="sitemanagementdropdownbtn" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-bars"></i>
            </div>
            <ul class="dropdown-menu midi-d-grey-bg" aria-labelledby="sitemanagementdropdownbtn">
                <li class="dropdown-item midi-l-grey pink-hover">
                    <a class="midi-l-grey" role="button" href="{% url 'all_songs' %}">All Songs</a>
                </li>
                <li class="dropdown-item pink-hover">
                    <a class="midi-l-grey" href="#">All Orders</a>
                </li>
                <li class="dropdown-item pink-hover">
                    <a class="midi-l-grey" role="button" href="{% url 'admin:index' %}">Dango Admin Panel</a>
                </li>
            </ul>
        </div>
        <div class="col-11 midi-l-grey text-center">
            <h2 class="mt-1 pe-4 fw-bolder mb-4"> | ALL SONGS | </h2>
        </div>
    </div>

    <!-- desktop view: row holding the management content -->
    <div class="row d-flex ">
        <!-- menu -->
        <div class="management-options d-none d-md-block col-12 col-md-3 text-center text-md-start">
            <div class="row my-4 midi-l-grey">
                <div class="col-12">
                    <a role="button" href="#" class="midi-l-grey" title="My Details screen">
                        <h4 class="pink-hover d-inline management-options-highlight">All Songs</h4>
                    </a>
                </div>
            </div>
            <div class="row my-4 midi-l-grey">
                <div class="col-12">
                    <a role="button" href="#" class="midi-l-grey" title="Project Drafts screen">
                        <h4 class="pink-hover d-inline">All Orders</h4>
                    </a>
                </div>
            </div>
            <div class="row my-4 midi-l-grey">
                <div class="col-12">
                    <a role="button" href="#" class="midi-l-grey" title="Projects In Progress screen">
                        <h4 class="pink-hover d-inline">Django Admin Panel</h4>
                    </a>
                </div>
            </div>
        </div>
        <!-- rendering html snippets -->
        <div class="col-12 col-md-9">
            <div class="row">
                <div class="col-12">
                    <!-- snippet here -->
                    {% include 'includes/admin-all-songs-list.html' %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}


<!-- PUT IN EXTERNAL JS FILE -->
{% block postload_js %}
    {{ block.super }}

    <script type="text/javascript">
    
        // ------- custom selectors based on logic from CI walkthrough - CREDIT

        // ------- GLOBAL VARS

        // gets the song-type selector by its ID
        let songTypeSelect = document.getElementById('admin-song-type-select');
        // gets the user selector by its ID
        let allUsersSelect = document.getElementById('admin-all-users-select');
        // gets the done status selector by its ID
        let doneStatusSelect = document.getElementById('admin-done-status-select');
        // gets the public status selector by its ID
        let publicStatusSelect = document.getElementById('admin-public-status-select');
        // gets the testimonial status selector by its ID
        let testimonialStatusSelect = document.getElementById('admin-testimonial-status-select');
        // gets the reset filters button by its ID
        let resetFiltersButton = document.getElementById('all-songs-filter-reset');


        // ------- EVENT LISTENERS

        songTypeSelect.addEventListener("change", filterBySongType);
        allUsersSelect.addEventListener("change", filterByUser);
        doneStatusSelect.addEventListener("change", filterByDoneStatus);
        publicStatusSelect.addEventListener("change", filterByPublicStatus);
        testimonialStatusSelect.addEventListener("change", filterByTestimonialStatus);
        resetFiltersButton.addEventListener("click", resetAllSongsFilters);


        // ------- CALLBACK FUNCTIONS

        /**
         * @name filterBySongType
         * @description Gets the current URL from the window.
         * Gets the value from the select element.
         * If the 'rest' option is not selected, then the
         * selectedSongType is set as the 'songtype' parameter in
         * the url.
         * The updated currentUrl is applied to reload the page.
         * If the 'reset' option is selected, the 'songtype' param
         * is removed from the currentUrl which is used to reload
         * the page.
        */
        function filterBySongType(){

            var currentUrl = new URL(window.location.href);
            var selectedSongType = songTypeSelect.options[songTypeSelect.selectedIndex].value;

            if(selectedSongType != 'reset'){
                currentUrl.searchParams.set("songtype", selectedSongType);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("songtype");
                window.location.replace(currentUrl);
            }
        };


        /**
         * @name filterByUser
         * @description Gets the current URL from the window.
         * Gets the value from the select element.
         * If the 'rest' option is not selected, then the
         * selectedUser is set as the 'songuser' parameter in
         * the url.
         * The updated currentUrl is applied to reload the page.
         * If the 'reset' option is selected, the 'songuser' param
         * is removed from the currentUrl which is used to reload
         * the page.
        */
        function filterByUser(){

            var currentUrl = new URL(window.location.href);
            var selectedUser = allUsersSelect.options[allUsersSelect.selectedIndex].value;

            if(selectedUser != 'reset'){
                currentUrl.searchParams.set("songuser", selectedUser);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("songuser");
                window.location.replace(currentUrl);
            }
        };


        /**
         * @name filterByDoneStatus
         * @description Gets the current URL from the window.
         * Gets the value from the select element.
         * If the 'rest' option is not selected, then the
         * selectedDoneStatus is set as the 'donestatus' parameter in
         * the url.
         * The updated currentUrl is applied to reload the page.
         * If the 'reset' option is selected, the 'donestatus' param
         * is removed from the currentUrl which is used to reload
         * the page.
        */
        function filterByDoneStatus(){

            var currentUrl = new URL(window.location.href);
            var selectedDoneStatus = doneStatusSelect.options[doneStatusSelect.selectedIndex].value;

            if(selectedDoneStatus != 'reset'){
                currentUrl.searchParams.set("donestatus", selectedDoneStatus);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("donestatus");
                window.location.replace(currentUrl);
            }
        };


        /**
         * @name filterByPublicStatus
         * @description Gets the current URL from the window.
         * Gets the value from the select element.
         * If the 'rest' option is not selected, then the
         * selectedPublicStatus is set as the 'publicstatus' parameter in
         * the url.
         * The updated currentUrl is applied to reload the page.
         * If the 'reset' option is selected, the 'publicstatus' param
         * is removed from the currentUrl which is used to reload
         * the page.
        */
        function filterByPublicStatus(){

            var currentUrl = new URL(window.location.href);
            var selectedPublicStatus = publicStatusSelect.options[publicStatusSelect.selectedIndex].value;

            if(selectedPublicStatus != 'reset'){
                currentUrl.searchParams.set("publicstatus", selectedPublicStatus);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("publicstatus");
                window.location.replace(currentUrl);
            }
        };


        /**
         * @name filterByTestimonialStatus
         * @description Gets the current URL from the window.
         * Gets the value from the select element.
         * If the 'rest' option is not selected, then the
         * selectedTestimonialStatus is set as the 'testimonialstatus'
         * parameter in
         * the url.
         * The updated currentUrl is applied to reload the page.
         * If the 'reset' option is selected, the 'testimonialstatus' param
         * is removed from the currentUrl which is used to reload
         * the page.
        */
        function filterByTestimonialStatus(){

            var currentUrl = new URL(window.location.href);
            var selectedTestimonialStatus = testimonialStatusSelect.options[testimonialStatusSelect.selectedIndex].value;

            if(selectedTestimonialStatus != 'reset'){
                currentUrl.searchParams.set("testimonialstatus", selectedTestimonialStatus);
                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("testimonialstatus");
                window.location.replace(currentUrl);
            }
        };


        /**
         * @name resetAllSongsFilters
         * @description Gets the current URL from the window.
         * Gets the string of the current URL and splits it by the
         * '?' as everything after this refers to the search prarameters
         * and takes the first bit which is the url without filters applied.
         * Replacing the current URL with the withoutFiltersUrl, reloads
         * the page, restting the filters.
        */
        function resetAllSongsFilters(){

            var currentUrl = new URL(window.location.href);
            var withoutFiltersUrl = String(currentUrl).split('?')[0]
            window.location.replace(withoutFiltersUrl);

        };
    </script>
{% endblock %}
