{% extends "base.html" %}
{% load static %}
 
{% block extra_title %} - {{ song.name }} song details{% endblock %}

{% block content %}

<!-- check that users can still view their own custom songs when private [NEED login to work first] -->
{% if user.is_superuser or song.public or user.username == song.user.username %}

<!-- bootstrap container for all the content on this page -->
<div class="container pt-2 pb-4 overlay">

    <div class="row logo-font pt-4 align-items-center">
        <!-- image column -->
        <div class="song-details-image-row col-12 pb-4 pb-md-0 col-md-4 text-center overflow-hidden">
            <img class="square-img-large" src="{{ song.image.url }}" alt="{{ song.name }} image">
        </div>
        <!-- main song details col -->
        <div class="col-12 col-md-8 text-center">
            <div class="row">
                <div class="col-12">
                    <h2 class="midi-teal fs-1">{{ song.name }}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 pt-1 pb-3">
                    <hr class="hr-90-light">
                </div>
            </div>
            <div class="row">
                <div class="col-12 midi-l-grey">
                    {% if song.genre %}
                    <h3>{{ song.genre.display_name }}</h3>
                    {% else %}
                    <p>(No assigned genre)</p>
                    {% endif %}
                </div>
            </div>
            <!-- username -->
            <div class="row">
                <div class="col-12">
                    <p class="midi-l-grey m-0 pb-1">{{ song.user }}</p>
                </div>
            </div>
            <!-- Add to tracklist/download btn or note to user -->
            <div class="row">
                <!-- add if statement for in the user's Tracklist => You already have this song in your Tracklist -->

                <!-- add: OR song is in any of the user's orders -->
                <div class="col-12 midi-l-grey">
                    <!-- if the admin is viewing -->
                    {% if user.is_superuser %}
                        {% if song.audio_file %}
                        <a href="{% url 'download_song' song.slug %}" class="midi-l-grey btn mt-2">
                            <i class="fa-solid fa-download fs-3"></i>
                            <p class="d-inline fs-5 ps-2 basic-font">Download</p>
                        </a>
                        <!-- for pre-made songs w/o audio_file -->
                        {% elif song.user.is_superuser %}
                            {% if song.public %}
                            <p class="d-inline small basic-font midi-warning">
                                This song is public, but it's audio file could not be found.
                            </p>
                            {% else %}
                            <p class="d-inline small basic-font">
                                This song is private and currently has no associated audio file.
                            </p>
                            {% endif %}
                        {% endif %}
                    <!-- add: elif for if its use_as_testimonial => if its the owning user then they see download btn else other users see blank OR link to the user's content -->
                    <!-- if a logged in user is viewing -->
                    {% elif user.is_authenticated %}
                        <!-- add: if its in their Tracklist => note -->
                        <!-- add: if it exists in one of their orders => download if audio exists -->
                        <!-- add: if no audio, check if its a custom song => note that it will be downloadable when complete OR note that there was something wrong with this pre-made song's audio and to contact the admin -->
                        <!-- else just show Add To Tracklist button like for non auth users below? -->
                    <!-- if a none logged in user is viewing -->
                    {% else %}
                        {% if song.audio_file %}
                        <p class="m-0 pb-1 fs-4">£{{ song.price }}</p>
                        <a href="#" class="btn midi-l-grey" role="button">
                            <i class="fa-solid fa-circle-plus fs-5" title="Add to Tracklist"></i>
                            <p class="fs-5 ps-2 d-inline basic-font">Add to Tracklist</p>
                        </a>
                        {% else %}
                        <p class="d-inline small basic-font midi-warning">
                            There was an issue with this song's audio file and our team is investigating. If the issue persists, please contact an admin.
                        </p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            
            
        </div>
    </div>

    <div class="row">
        <div class="col-12 py-4">
            <hr class="hr-90-teal">
        </div>
    </div>
    <!-- audio player/your song will be playable here when the audio file is added msg -->
    <div class="row">
        <div class="col-12 midi-l-grey text-center">
            {% if song.audio_file %}
            <audio controls controlsList="nodownload" class="mobile-audio-ctrls">
                <source src="{{ song.audio_file.url }}" type="audio/mpeg" alt="{{ song.name }} audio">
                Your browser does not support the audio element.
            </audio>
            <!-- pre-made songs with missing auido file -->
            {% elif song.user.is_superuser %}
                {% if user.is_superuser %}
                    {% if song.public %}
                    <p class="basic-font midi-warning m-0">
                        This public song's audio will be playable once the audio file has been added or repaired.
                    </p>
                    {% else %}
                    <p class="basic-font m-0">
                        This private song's audio will be playable once the audio file has been added or repaired.
                    </p>
                    {% endif %}
                {% else %}
                <p class="basic-font midi-warning m-0">
                    This song will become playable once the admin has repaired the audio file.
                </p>
                {% endif %}
            <!-- custom songs without audio files => song isnt complete yet -->
            {% else %}
            <p class="basic-font m-0">
                Your song will be playable here once its complete and uploaded by the admin.
                <br>
                If you have been notified that your song has been completed and the file is still not available, please contact the admin. 
            </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 py-4">
            <hr class="hr-90-teal">
        </div>
    </div>

    <!-- conditional testimonial row -->
    {% if song.use_as_testimonial %}
    <div class="row">
        <div class="col-12 midi-l-grey text-center logo-font">
            <h3>Testimonial</h3>
            {% if song.testimonial_text %}
            <p>{{ testimonial_text }}</p>
            {% else %}
            <p>{{ song.user }} has chosen for this song to be shown as an example of what midiDRAGON is able to create for our users.</p>
            {% endif %}
            <p class="small">See more examples of songs created for other midiDRAGON users on our <a href="#" class="midi-teal">Testimonials page</a></p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 py-4">
            <hr class="hr-80 midi-teal">
        </div>
    </div>
    {% endif %}

    <!-- song details rows -->
    <div class="row">
        <div class="col-12 midi-l-grey text-center logo-font">
            <h3>Song details</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 midi-l-grey text-center logo-font">
            <p>
                <strong>Project Type:</strong>{% if song.project_type %} {{ song.project_type }} {% else %} N/A {% endif %}
            </p>
            <p>
                <strong>BPM:</strong>{% if song.bpm %} {{ song.bpm }} {% else %} N/A {% endif %}
            </p>
            <p>
                <strong>Review Sessions:</strong>{% if song.num_of_reviews %} {{ song.num_of_reviews }} {% else %} N/A {% endif %}
            </p>
            <p>
                <strong>Price:</strong>{% if song.price %} £{{ song.price }} {% else %} N/A {% endif %}
            </p>
        </div>
        <div class="col-12 col-md-6 midi-l-grey text-center logo-font">
            <p class="m-0">
                <strong>Instruments:</strong>
            </p>
            {% if song.instruments.all %}
            <ul class="p-0 m-0">
                {% for instrument in song.instruments.all %}
                <li>{{ instrument.display_name }}</li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="m-0">N/A</p>
            {% endif %}
        </div>
    </div>
    {% if song.song_purpose or song.song_feel or song.additional_details %}
    <div class="row px-4">
        <div class="col-12 midi-l-grey text-center logo-font px-4 pt-2">
            <p class="m-0"><strong>Description:</strong></p>
            <p class="m-0">{% if song.song_purpose %} {{ song.song_purpose }} {% endif %}</p>
            <p class="m-0">{% if song.song_feel %} {{ song.song_feel }} {% endif %}</p>
            <p class="m-0">{% if song.additional_details %} {{ song.additional_details }} {% endif %}</p>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-12 py-4">
            <hr class="hr-80 midi-teal">
        </div>
    </div>

    <!-- like icon with toggle effect (LHS) and conditional edit/delete btns (RHS) for admin always and user IF they are the user and the song hasnt been purchased (not in any of their orders) or in their tracklist (msg to please remove from tracklist before edit/deleting) -->
    <div class="row">
        <div class="col-6 logo-font midi-l-grey text-start ps-4">
            <!-- like button - implemented like in my Cook eBook project -->
            {% if user.is_authenticated %}
            <!-- if the user is logged in, the like icon is clickable and toggles between giving the song a like and taking away the user's like -->
            <form class="d-inline" method="post" action="{% url 'song_like' song.slug %}">
                {% csrf_token %}
                <!-- if like = True then the icon has fa-solid style -->
                {% if like %}
                <button type="submit" name="song_id" value="{{ song.slug }}" class="btn px-0 pt-1 pb-0 midi-pink border-0" aria-label="Un-like button">
                    <i class="fa-solid fa-heart fs-4"></i>
                </button>
                {% else %}
                <!-- if like = False then the icon has fa-regular style -->
                <button type="submit" name="song_id" value="{{ song.slug }}" class="btn px-0 pt-1 pb-0 midi-l-grey border-0" aria-label="Like button">
                    <i class="fa-regular fa-heart fs-4"></i>
                </button>
                {% endif %}
            </form>
            <!-- if user is not logged in the icon is not a button -->
            {% else %}
            <i class="fa-regular fa-heart fs-4"></i>
            {% endif %}

            <p class="d-inline ps-2">Likes: {{ song.number_of_likes }}</p>
        </div>

        <div class="col-6 logo-font midi-l-grey text-end pe-4">
            {% if user.is_superuser %}
            <!-- edit button -->
            <a href="#" class="btn midi-teal midi-border-teal me-2" role="button">Edit</a>
            <!-- delete button -->
            <a href="#" class="btn midi-warning midi-border-warning" role="button">Delete</a>

            <!-- add: and song doesnt have an assocaited order no (hasnt been bought yet) and is not in their tracklist -->
            {% elif user.username == song.user.username %}
            <!-- edit button -->
            <a href="#" class="btn midi-teal midi-border-teal me-2" role="button">Edit</a>
            <!-- delete button -->
            <a href="#" class="btn midi-warning midi-border-warning" role="button">Delete</a>
            {% else %}

            <!-- elif the song is in their tracklist -->
            <!-- <p>You must remove {{ song.name }} from your Tracklist in order to Edit/Delete it</p> -->
            {% endif %}
        </div>
    </div>
</div>
{% else %}

    <!-- from the root dir templates dir -->
    {% include 'includes/user-not-authorised.html' %}

{% endif %}

{% endblock %}

