body{
    background-image: linear-gradient(39deg, rgba(29,33,46,1) 25%, rgba(0,209,207,0.7) 50%, rgba(255,87,210,0.8) 75%), url(/media/midi-dragon-home-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color:#1D212E;
    font-family:'Fira Sans', sans-serif;
}

.logo-font{
    font-family:'BioRhyme', sans-serif;
}

.content-block{
    min-height: 70vh;
}

.container{
    max-width:100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}


/* overriding BS5 dropdown-item background color on hover */

.dropdown-item:hover{
    background-color: #1D212E;
}


/* ---------- midi dragon site colours */

.midi-teal {
    color: #00D1CF !important;
}

.midi-pink {
    color: #FF57D2;
}

.midi-d-grey {
    color: #1D212E !important;
}

.midi-l-grey {
    color: #9A9EAE !important;
}


/* ---------- hover pink */

a:hover, .btn:hover, i:hover, .pink-hover:hover, #mc_embed_signup{
    color: #FF57D2 !important;
    border-color: #FF57D2 !important;
}


/* ---------- midi dragon b.g. colours */

.midi-teal-bg {
    background-color: #00D1CF !important;
}

.midi-pink-bg {
    background-color: #FF57D2 !important;
}

.midi-d-grey-bg {
    background-color: #1D212E !important;
}

.midi-l-grey-bg {
    background-color: #9A9EAE !important;
}


/* ---------- midi dragon btns */

/* teal, grey, red */
/* pink highlight on hover/select */
/* sizes and rounded corners to add to all btns */

.btn {
    color: #9A9EAE;
    border: 1px solid #9A9EAE;
}

.btn-l-grey {
    color: #9A9EAE;
    border-color: #9A9EAE;
}

.btn-d-grey {
    color: #1D212E;
    border-color: #1D212E;
}

.large-btn{
    font-weight: bold;
    border-width: 2px;
    border-radius: 4px;
    font-size:large;
}


/* ---------- midi dragon hrs */

.hr-80 {
    margin: auto;
    width:80%;
}

/* .hr-90-dark {
    margin: auto;
    width:90%;
    border: 1px solid #1D212E;
} */

.hr-90-light {
    margin: auto;
    width:90%;
    border: 1px solid #9A9EAE;
}

/* .hr-full-light{
    width:100%;
    border: 1px solid #9A9EAE;
} */

.hr-full-teal{
    width:100%;
    border: 1px solid #00D1CF;
}


/* ---------- midi dragon borders */

/* .top-border-light{
    border-top: 1px solid #9A9EAE;
} */

.midi-border-teal{
    border-radius: 2px;
    border-color: #00D1CF;
}

.midi-border-l-grey{
    border-radius: 2px;
    border-color: #9A9EAE;
}

.midi-btm-border-teal{
    border-bottom: 1px solid #00D1CF;
}

/* .bottom-border-dark{
    border-bottom: 1px solid #1D212E;
} */


/* ---------- midi dragon pages */

.page-heading {
    text-align: center;
    font-family:'BioRhyme', sans-serif;
    font-weight:bold;
    font-size: xx-large;
}

.overlay{
    background: #1D212E;
    min-height: 70vh;  /* same min-height as the content-block */
}


/* ---------- midi dragon images */

.img-border-light{
    border: 0.5px solid rgba(154, 158, 174, 0.5);
    border-radius: 4px;
}

/* on med+ screens browsing */
.square-img-small{
    height: 5vw;
    width: 5vw;
}

/* on mobile screens browsing */
.square-img-med{
    height: 25vw;
    width: 25vw;
}

.square-img-small:hover,
.square-img-med:hover{
    border-color:#FF57D2;
}

/* .square-img-large{
    height: ;
    width: ;
} */


/* ---------- Browse Pre-made Songs */

.hover-highlight-row:hover{
    background-color: rgba(0, 209, 207, 0.2);
    /* background-color: rgba(255, 87, 210, 0.3); */
}


/* ---------- audio player */

audio{
    border-radius: 4px;
    background-color:#9A9EAE;
    padding-left: 10px;
    padding-right: 10px;
}

audio::-webkit-media-controls-panel{
    background-color:#9A9EAE;
    border: 1px solid #9A9EAE;
}

audio::-webkit-media-controls-play-button:hover,
audio::-webkit-media-controls-mute-button:hover{
    background-color:#FF57D2;
    border-radius: 50%;
}

/* audio::-webkit-media-controls-timeline:hover,
audio::-webkit-media-controls-volume-slider:hover{
    background-color:#FF57D2;
    border-radius: 10px;
} */

.mobile-audio-ctrls{
    max-width: 100%;
    padding:0;
}

audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display{
    color:#1D212E;
    font-family:'BioRhyme', sans-serif;
}


/* ---------- navbar */

#profiledropdownbtn::after,
#mobileprofiledropdownbtn::after,
#logindropdownbtn::after,
#mobilelogindropdownbtn::after,
#burgericondropdownbtn::after,
#mobilesearchdropdownbtn::after {
    content: none;
}

/* fixing dropdown-menu displaying on mobile */
.mobiledropdowncontainer{
    position:relative;
}

.search-form input{
    border-color:#9A9EAE;
}

.search-form input:hover{
    border-color:#FF57D2;
}

.search-form input:focus{
    border-color:#00D1CF;
}

#mobile-search-form {
    width:60vw;
}


/* ---------- homepage */

#homepage-container li{
    font-size:large;
}


/* ---------- mailchimp builtin and overidden styling */

#mc_embed_signup{
    background:#9A9EAE;
    clear:left;
    border-radius: 4px;
    font:14px Fira Sans,sans-serif;
    /* width:600px; */
    width:80%;
    margin: auto;
}

#mc_embed_signup .button{
    color:#9A9EAE !important;
    background-color: #1D212E !important;
}

#mc_embed_signup .button:hover{
    color:#1D212E !important;
    background-color: #FF57D2 !important;
}

#mce-EMAIL{
    background-color: #9A9EAE !important;
    border-color: #1D212E !important;
}

#mce-EMAIL:hover{
    border-color:#FF57D2 !important;
}

#mce-EMAIL:focus{
    border-color:#00D1CF !important;
}


#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error{
    color:#1D212E !important;
    background-color: #9A9EAE !important;
    font-weight: bold !important;
}