{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
- 404
{% endblock %}

{% block content %}
    <div class="container pt-2 py-4 d-flex">
        <div class="row w-100">
            <div class="col-12 midi-d-grey align-self-center text-center">
                <h1 class="my-4 page-heading">
                    Oops!
                </h1>
                <hr class="hr-90-dark my-4">
                <div class="row">
                    <div class="col-12 logo-font my-4">
                        <h3>Looks like that page doesn't exist ...</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="{% url 'songs' %}" role="button" class="btn btn-d-grey mt-2 ms-4">
                            <i class="fa-solid fa-circle-arrow-left d-inline"></i>
                            <p class="d-none d-md-inline m-0 d-inline ps-2 basic-font">
                                Take Me Back To The Music
                            </p>
                            <p class="d-inline d-md-none m-0 d-inline ps-2 basic-font">
                                Back To The Music
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}