<!-- logo and important navigation -->
<div class="row w-100">

    <!-- CLICKABLE LOGO -->
    <div class="col-5 col-lg-4">
        <a class="navbar-brand text-start midi-teal logo-font fs-2 ps-3" href="{% url 'home' %}" aria-label="Link to landing page">
            <i class="fa-solid fa-dragon"></i>
            midi<strong>DRAGON</strong>
        </a>
    </div>

    <!-- search form with small search icon - hidden with JS until Search icon clicked -->
    <div class="col-4 col-lg-5 midi-l-grey pt-1">
        <!-- with id="search-form" -->
        <form method="GET" action="{% url 'songs' %}" class="search-form">
            <div class="input-group w-100">
                <!-- the 'query' is what is being submitted -->
                <input class="form-control midi-l-grey rounded-2 midi-d-grey-bg" type="text" name="query" placeholder="Search Pre-made Songs">
                <!-- DOES btn NEED form-control CLASS TO WORK? - STYLE DIFFERENTLY -->
                <button class="btn midi-l-grey pink-hover" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </form>
    </div>

    <!-- 3 desktop icons -->
    <div class="col-3 midi-l-grey">
        <ul class="list-inline list-unstyled w-100 text-end">
            <!-- search icon -->
            <!-- <li class="list-inline-item dropdown midi-l-grey fs-5 px-4">
                <div class="text-center pink-hover">
                    <i id="search-icon" class="fa-solid fa-magnifying-glass"></i>
                    <p>Search</p>
                </div>
            </li> -->
            <!-- profile icon -->
            <li class="list-inline-item dropdown midi-l-grey fs-5">
                {% if user.is_authenticated %}
                <div class="dropdown-toggle text-center midi-teal pink-hover fs-5" type="button" id="profiledropdownbtn" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user"></i>
                    <p>Profile</p>
                </div>
                <ul class="dropdown-menu midi-d-grey-bg" aria-labelledby="profiledropdownbtn">
                    {% if user.is_superuser %}
                        <li><a class="dropdown-item midi-l-grey" href="#">Site Management</a></li>
                    {% endif %}
                    <li><a class="dropdown-item midi-l-grey" href="#">Dashboard</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="#">My Details</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="#">Project Drafts</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="#">Projects In Progress</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="#">Completed Projects</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="#">Order History</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="#">Logout</a></li>
                </ul>
                {% else %}
                <div class="dropdown-toggle text-center pink-hover fs-5" type="button" id="logindropdownbtn" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-circle-user"></i>
                    <p>Login</p>
                </div>
                <ul class="dropdown-menu midi-d-grey-bg" aria-labelledby="logindropdownbtn">
                    <li><a class="dropdown-item midi-l-grey" href="#">Login</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="#">Register</a></li>
                </ul>
                {% endif %}
            </li>
            <!-- tracklist icon -->
            <li class="list-inline-item fs-5 ps-4 pe-3">
                <a href="#" class="{% if tracklist_total %}midi-teal font-weight-bold{% else %}midi-l-grey{% endif %}" title="My Tracklist">
                    <div class="text-center fs-5">
                        <i class="fa-solid fa-compact-disc"></i>
                        <p>
                            {% if tracklist_total %}
                                £{{ tracklist_total|floatformat:2 }}
                            {% else %}
                                £0.00
                            {% endif %}
                        </p>
                    </div> 
                </a>
            </li>
        </ul>
    </div>

    
    
</div>
<!-- 3 secondary nav btns -->
<div class="row w-100">
    <div class="col-12 text-center">
        <ul class="list-inline list-unstyled w-100 d-flex justify-content-evenly">
            <li class="list-inline-item dropdown midi-l-grey">
                <!-- pre-made songs btn with dropdown - ADD SITE BTN styling -->
                <button class="btn btn-l-grey dropdown-toggle fs-5 px-4 py-1" type="button" id="premadesongsdropdownbtn" data-bs-toggle="dropdown" aria-expanded="false">
                    <strong>Pre-made Songs</strong>
                </button>
                <ul class="dropdown-menu midi-d-grey-bg" aria-labelledby="premadesongsdropdownbtn">
                    <!-- the ursl contain ort and direction parameters -->
                    <li><a class="dropdown-item midi-l-grey" href="{% url 'songs' %}?sort=price&direction=asc">By Price</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="{% url 'songs' %}?sort=genre&direction=asc">By Genre</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="{% url 'songs' %}?sort=duration&direction=asc">By Duration</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="{% url 'songs' %}?sort=bpm&direction=asc">By BPM</a></li>
                    <li><a class="dropdown-item midi-l-grey" href="{% url 'songs' %}">All Songs</a></li>
                </ul>
            </li>
            <li class="list-inline-item midi-l-grey">
                <!-- btn to custom song form -->
                <a class="btn btn-l-grey fs-5 px-4 py-1" href="#" role="btn"><strong>Design Custom Song</strong></a>
            </li>
            <li class="list-inline-item midi-l-grey">
                <!-- btn to testimonials page -->
                <a class="btn btn-l-grey fs-5 px-4 py-1" href="#" role="btn"><strong>Testimonials</strong></a>
            </li>
        </ul>
    </div>
</div>