<div class="container pt-2 pb-4 overlay d-flex">
    <!-- make into an includes? to use across pages (e.g for user profile and site management page) -->
    <div class="row w-100">
        <div class="col-12 midi-l-grey align-self-center text-center">
            <h1 class="mb-4 midi-warning">You do not have access to this page</h1>
            <a href="#" role="button" class="btn fs-5">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <p class="m-0 d-inline ps-2">Browse Pre-made Songs</p>
            </a>
        </div>
    </div>
</div>