{% extends "account/base.html" %}

{% load i18n %}

{% block extra_title %} - {% trans "Logout" %}{% endblock %}

{% block page_heading %} Logout {% endblock %}

{% block inner_content %}

<p>{% trans 'Are you sure you want to logout?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <a href="{% url 'home' %}" role="button" class="btn btn-l-grey me-1">
    <p class="m-0 d-inline">Cancel</p>
  </a>
  <button class="btn btn-teal ms-1" type="submit">{% trans 'Logout' %}</button>
</form>


{% endblock %}
