<div class="col-md-1 col-lg-2">
    <a href="{% url 'song_details' song.slug %}" title="Go to song details">
        <img class="square-img-small img-border-light" src="{{ song.image.url }}" alt="{{ song.name }} image">
    </a>
</div>
<div class="col-md-2">
    <a href="{% url 'song_details' song.slug %}" class="midi-l-grey" title="Go to song details">
        <h5>{{ song.name }}</h5>
    </a>
</div>
<div class="col-md-5 col-lg-4 col-xl-3">
    {% if song.audio_file %}
    <audio controls controlsList="nodownload" class="">
        <source src="{{ song.audio_file.url }}" type="audio/mpeg" alt="{{ song.name }} audio">
        Your browser does not support the audio element.
    </audio>
    {% else %}
    <p class="midi-l-grey">(There is currently no audio file for '{{ song.name }}')</p>
    {% endif %}
</div>
<div class="col-md-2">
    {% if song.genre %}
    <h5>{{ song.genre.display_name }}</h5>
    {% else %}
    <p>(No assigned genre)</p>
    {% endif %}
</div>
<div class="col-md-1 col-xl-2">
    <h5>£{{ song.price }}</h5>
</div>
<div class="col-md-1">
    {% if user.is_superuser %}
        {% if song.public %}
            <p class="midi-teal fs-6 m-0">Public</p>
        {% else %}
            <p class="midi-l-grey fs-6 m-0">Private</p>
        {% endif %}
        <p class="midi-l-grey small m-0">[{{ song.user }}]</p>
    {% else %}
        <a href="#">
            <i class="fa-solid fa-circle-plus midi-l-grey fs-3" title="Add to Tracklist"></i>
        </a>
    {% endif %}
</div>