<div class="col-md-1 col-lg-2 my-2">
    <a href="{{ song.get_absolute_url }}" title="Go to song details">
        <img class="square-img-x-small img-border-light" src="{{ song.image.url }}" alt="{{ song.name }} image">
    </a>
</div>
<div class="col-md-2">
    <a href="{{ song.get_absolute_url }}" class="midi-l-grey" title="Go to song details">
        <h5>{{ song.name }}</h5>
    </a>
</div> 
<div class="col-md-4 col-lg-4 col-xl-3 mt-2">
    {% if song.audio_file %}
    <audio controls controlsList="nodownload" class="">
        <source src="{{ song.audio_file.url }}" type="audio/mpeg" alt="{{ song.name }} audio">
        Your browser does not support the audio element.
    </audio>
    {% else %}
    <p class="midi-l-grey">(There is currently no audio file for '{{ song.name }}')</p>
    {% endif %}
</div>
<div class="col-md-2">
    {% if song.genre %}
    <h5>{{ song.genre.display_name }}</h5>
    {% else %}
    <p>(No assigned genre)</p>
    {% endif %}
</div>
<div class="col-md-1 col-xl-2">
    <h5>£{{ song.price }}</h5>
</div>
<div class="col-md-2 col-lg-1">
    {% if user.is_superuser %}
        {% if song.public %}
            <p class="midi-teal fs-6 m-0">Public</p>
        {% else %}
            <p class="midi-l-grey fs-6 m-0">Private</p>
        {% endif %}
        <!-- <p class="midi-l-grey small m-0">[{{ song.user }}]</p> -->
        {% if song.user.is_superuser %}
        <p class="midi-l-grey small m-0">[Pre-made]</p>
        {% else %}
        <p class="midi-l-grey small m-0">[Custom]</p>
        {% endif %}
    {% else %}
        {% if song in all_users_bought_songs %}
            <p class="d-inline midi-teal" title="You purchased this song already">
                <i class="fa-solid fa-check fs-5"></i>
                <i class="fa-solid fa-credit-card fs-3"></i>
            </p>
        {% elif tracklist_songs %}
            <!-- checks if the current song is in the tracklist_songs list -->
            {% if song in tracklist_songs %}
                <p class="d-inline midi-teal" title="In your Tracklist">
                    <i class="fa-solid fa-check fs-5"></i>
                    <i class="fa-solid fa-compact-disc fs-3"></i>
                </p>
                <!-- else just show Add To Tracklist button -->
            {% else %}
                <!-- add to tracklist form -->
                <form class="form" action="{% url 'add_to_tracklist' song.slug %}" method="POST">  
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-l-grey border-0 p-1" title="Add to Tracklist">
                                <i class="fa-solid fa-plus fs-5"></i>
                                <i class="fa-solid fa-compact-disc fs-3"></i>
                            </button>
                        </div>
                        <!-- hidden input which uses request.path to submit redirect_url to redirect to same page after item added - CREDIT CI walkthrough project-->
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                    </div>
                </form>
            {% endif %}
        {% else %}
            <!-- add to tracklist form -->
            <form class="form" action="{% url 'add_to_tracklist' song.slug %}" method="POST">  
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-l-grey border-0" title="Add to Tracklist">
                            <i class="fa-solid fa-plus fs-5"></i>
                            <i class="fa-solid fa-compact-disc fs-3"></i>
                        </button>
                    </div>
                    <!-- hidden input which uses request.path to submit redirect_url to redirect to same page after item added - CREDIT CI walkthrough project-->
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
        {% endif %}
    {% endif %}
</div>
                                