<div class="col-4 px-0 text-center">
    <a href="{% url 'song_details' song.slug %}" title="Go to song details">
        <img class="square-img-med img-border-light" src="{{ song.image.url }}" alt="{{ song.name }} image">
    </a>
</div>
<div class="col-6 text-start">
    <div class="row">
        <div class="col-12 px-0">
            <a href="{% url 'song_details' song.slug %}" class="midi-l-grey" title="Go to song details">
                <h5>{{ song.name }}</h5>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0">
            {% if song.genre %}
            <p>{{ song.genre.display_name }}</p>
            {% else %}
            <p>(No assigned genre)</p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0">
            <p>£{{ song.price }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 px-0">
            {% if song.audio_file %}
            <audio controls controlsList="nodownload" class="mobile-audio-ctrls">
                <source src="{{ song.audio_file.url }}" type="audio/mpeg" alt="{{ song.name }} audio">
                Your browser does not support the audio element.
            </audio>
            {% else %}
            <p class="midi-l-grey">(There is currently no audio file for '{{ song.name }}')</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="col-12 text-center">
    {% if user.is_superuser %}
        {% if song.public %}
            <p class="midi-teal fs-6 m-0">Public</p>
        {% else %}
            <p class="midi-l-grey fs-6 m-0">Private</p>
        {% endif %}
        <p class="midi-l-grey small m-0">[{{ song.user }}]</p>
    {% else %}
        <a href="#">
            <p class="midi-l-grey fs-6 d-inline">Add to Tracklist</p>
            <i class="fa-solid fa-circle-plus midi-l-grey fs-1" title="Add to Tracklist"></i>
        </a>
    {% endif %}
</div>