{% extends "base.html" %}
{% load static %}
 
{% block extra_title %} - My Tracklist{% endblock %}

{% block content %}
<!-- bootstrap container for all the content on this page -->
<div class="container pt-2 pb-4 overlay">
    <!-- page heading -->
    <div class="row py-4">
        <div class="col-12">
            <h1 class="page-heading midi-l-grey">My Tracklist</h1>
            <hr class="hr-90-light">
        </div>
    </div>

    <!-- put in an includes and display it at top or bottom depending on secreen size -->
    <!-- total price, keep browsing and secure checkout btns near top for mobile -->

    
    
</div>
{% endblock %}

